<form (keydown.enter)="logIn()" [formGroup]="logInForm" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input formControlName="username" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button type="button" mat-raised-button color="primary" (click)="logIn()">
    Log in
  </button>
</form>
